In [2]:
import seaborn as sns

import numpy as np

import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

# 메모장 파일 불러오기
with open('iris.data', 'r', encoding='utf-8') as file:
    data = file.readlines()

# 데이터를 파싱하여 DataFrame 만들기
data_list = []
for line in data:
    columns = line.strip().split(',')  # 쉼표로 열을 분할하고 양쪽 공백 제거
    data_list.append(columns)

# 열 이름 지정
column_names = ["sepal length", "sepal width", "petal length", "petal width", "Class"]  # 실제 열 이름으로 바꿔주세요

# DataFrame 생성 및 열 이름 설정
df = pd.DataFrame(data_list, columns=column_names)

# DataFrame 출력
print(df)
# df.head()

    sepal length sepal width petal length petal width           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# 결측치 제거
df.isna().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
Class           0
dtype: int64

In [5]:
y=df['petal width']

In [6]:
x=df
x=x.drop(columns=['petal width', 'Class'], axis=1)

In [7]:
x

    sepal length sepal width petal length
0            5.1         3.5          1.4
1            4.9         3.0          1.4
2            4.7         3.2          1.3
3            4.6         3.1          1.5
4            5.0         3.6          1.4
..           ...         ...          ...
145          6.7         3.0          5.2
146          6.3         2.5          5.0
147          6.5         3.0          5.2
148          6.2         3.4          5.4
149          5.9         3.0          5.1

[150 rows x 3 columns]

In [8]:
# train/test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=423)

In [9]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print(clf_dt.score(X_train, y_train))

0.999584199103949

In [10]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('DT 평균제곱근오차', mse)

DT 평균제곱근오차 0.31304951684997057

In [11]:
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(X_train, y_train)

pred_rf = rf_clf.predict(X_test)

print(rf_clf.score(X_train, y_train))

0.9935942786566705

In [12]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('RF 평균제곱근오차', mse)

RF 평균제곱근오차 0.23816181090999053

In [13]:
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print(clf_lr.score(X_train, y_train))

0.9402315527525301

In [14]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('LR 평균제곱근오차', mse)

LR 평균제곱근오차 0.18848521494159062

In [15]:
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print(clf_svm.score(X_train, y_train))

0.9520924660485428

In [16]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('SVM 평균제곱근오차', mse)

SVM 평균제곱근오차 0.1788548576979269