In [10]:
import numpy as np
from numpy import mean
from numpy import std
from numpy import dstack
from numpy import array
from scipy.stats import mode


import pandas as pd
from pandas import read_csv
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt

from tensorflow.keras.models import Model

from sklearn.preprocessing import LabelEncoder
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers import LSTM
from tensorflow.keras.layers import Activation
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Dense, Input, Dropout, Flatten, BatchNormalization
from tensorflow.keras.layers import concatenate, Dropout
from keras.utils import to_categorical
from tensorflow.keras import optimizers
import seaborn as sns

In [11]:
df=pd.read_csv('WISDM.csv', index_col=0)

In [12]:
df

         user-id activity        timestamp         X          Y         Z
0             33  Jogging   49105962326000 -0.694638  12.680544  0.503953
1             33  Jogging   49106062271000  5.012288  11.264028  0.953424
2             33  Jogging   49106112167000  4.903325  10.882658 -0.081722
3             33  Jogging   49106222305000 -0.612916  18.496431  3.023717
4             33  Jogging   49106332290000 -1.184970  12.108489  7.205164
...          ...      ...              ...       ...        ...       ...
1098199       19  Sitting  131623331483000  9.000000  -1.570000  1.690000
1098200       19  Sitting  131623371431000  9.040000  -1.460000  1.730000
1098201       19  Sitting  131623411592000  9.080000  -1.380000  1.690000
1098202       19  Sitting  131623491487000  9.000000  -1.460000  1.730000
1098203       19  Sitting  131623531465000  8.880000  -1.330000  1.610000

[1098203 rows x 6 columns]

In [13]:
label_encode = LabelEncoder()
df['activityEncode'] = label_encode.fit_transform(df['activity'].values.ravel())
df

,user-id,activity,timestamp,X,Y,Z,activityEncode
0,33,Jogging,49105962326000,-0.694638,12.680544,0.503953,1
1,33,Jogging,49106062271000,5.012288,11.264028,0.953424,1
2,33,Jogging,49106112167000,4.903325,10.882658,-0.081722,1
3,33,Jogging,49106222305000,-0.612916,18.496431,3.023717,1
4,33,Jogging,49106332290000,-1.184970,12.108489,7.205164,1
...,...,...,...,...,...,...,...
1098199,19,Sitting,131623331483000,9.000000,-1.570000,1.690000,2
1098200,19,Sitting,131623371431000,9.040000,-1.460000,1.730000,2
1098201,19,Sitting,131623411592000,9.080000,-1.380000,1.690000,2
1098202,19,Sitting,131623491487000,9.000000,-1.460000,1.730000,2
1098203,19,Sitting,131623531465000,8.880000,-1.330000,1.610000,2

In [14]:
## train split users between 1 and 27, test split users between 28 and 33
df_test = df[df['user-id'] > 27]
df_train = df[df['user-id'] <= 27]

In [15]:
df_train['X'] = (df_train['X']-df_train['X'].min())/(df_train['X'].max()-df_train['X'].min())
df_train['Y'] = (df_train['Y']-df_train['Y'].min())/(df_train['Y'].max()-df_train['Y'].min())
df_train['Z'] = (df_train['Z']-df_train['Z'].min())/(df_train['Z'].max()-df_train['Z'].min())
df_train

C:\Users\khw\AppData\Local\Temp\ipykernel_14552\2457927958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['X'] = (df_train['X']-df_train['X'].min())/(df_train['X'].max()-df_train['X'].min())
C:\Users\khw\AppData\Local\Temp\ipykernel_14552\2457927958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Y'] = (df_train['Y']-df_train['Y'].min())/(df_train['Y'].max()-df_train['Y'].min())
C:\Users\khw\AppData\Local\Temp\ipykernel_14552\2457927958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Z'] = (df_train['Z']-df_train['Z'].min())/(df_train['Z'].max()-df_train['Z'].min())

,user-id,activity,timestamp,X,Y,Z,activityEncode
8489,17,Walking,57869902574000,0.510163,0.741908,0.488932,5
8490,17,Walking,57870012316000,0.495703,0.751526,0.487895,5
8491,17,Walking,57870122301000,0.489850,0.742938,0.484785,5
8492,17,Walking,57870222246000,0.499490,0.748778,0.489623,5
8493,17,Walking,57870332292000,0.499490,0.750496,0.486858,5
...,...,...,...,...,...,...,...
1098199,19,Sitting,131623331483000,0.723205,0.454981,0.545293,2
1098200,19,Sitting,131623371431000,0.724216,0.457755,0.546308,2
1098201,19,Sitting,131623411592000,0.725228,0.459773,0.545293,2
1098202,19,Sitting,131623491487000,0.723205,0.457755,0.546308,2
1098203,19,Sitting,131623531465000,0.720172,0.461034,0.543263,2

In [16]:
def segments(df, time_steps, step, label_name):
    N_FEATURES = 3
    segments = []
    labels = []
    for i in range(0, len(df) - time_steps, step):
        xs = df['X'].values[i:i+time_steps]
        ys = df['Y'].values[i:i+time_steps]
        zs = df['Z'].values[i:i+time_steps]
        
        label = mode(df[label_name][i:i+time_steps])[0][0]
        segments.append([xs, ys, zs])
        labels.append(label)
    
    reshaped_segments = np.asarray(segments, dtype=np.float32).reshape(-1, time_steps, N_FEATURES)
    labels = np.asarray(labels)
    
    return reshaped_segments, labels

TIME_PERIOD = 80
STEP_DISTANCE = 40
LABEL = 'activityEncode'
X_train, y_train = segments(df_train, TIME_PERIOD, STEP_DISTANCE, LABEL)
X_test, y_test = segments(df_test, TIME_PERIOD, STEP_DISTANCE, LABEL)

C:\Users\khw\AppData\Local\Temp\ipykernel_14552\3352315404.py:10: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  label = mode(df[label_name][i:i+time_steps])[0][0]

In [17]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((20334, 80, 3), (7118, 80, 3), (20334,), (7118,))

In [18]:
## Input and Output Dimensions
time_period, sensors = X_train.shape[1], X_train.shape[2]
num_classes = label_encode.classes_.size
print(list(label_encode.classes_))

['Downstairs', 'Jogging', 'Sitting', 'Standing', 'Upstairs', 'Walking']

In [19]:
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')
X_test = X_test.astype('float32')
y_test = y_test.astype('float32')

In [20]:
y_train_hot = to_categorical(y_train, num_classes)
print("y_train shape: ", y_train_hot.shape)

y_test_hot = to_categorical(y_test, num_classes)
print("y_test shape: ", y_train_hot.shape)

y_train shape:  (20334, 6)
y_test shape:  (20334, 6)

In [21]:
# Produce variables for CNN input/output shape
n_timesteps, n_features, n_outputs = X_train.shape[1], X_train.shape[2], y_train_hot.shape[1]
print(n_timesteps, n_features, n_outputs)

80 3 6

In [22]:
model = Sequential()
model.add(LSTM(units = 128, input_shape = [n_timesteps, n_features], activation = 'relu'))
model.add(Dropout(rate = 0.5))
model.add(Dense(units = 128, activation = "relu"))
model.add(Dense(n_outputs, activation = "softmax"))

In [23]:
model.compile(loss = "categorical_crossentropy", optimizer = "adam", metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 128)               67584

 dropout (Dropout)           (None, 128)               0

 dense (Dense)               (None, 128)               16512

 dense_1 (Dense)             (None, 6)                 774

=================================================================
Total params: 84870 (331.52 KB)
Trainable params: 84870 (331.52 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
validation_split = 0.1
history = model.fit(X_train, y_train_hot, batch_size= 192, epochs=10, verbose=True,  validation_split=validation_split)

Epoch 1/10
96/96 [==============================] - 30s 287ms/step - loss: 1.5325 - accuracy: 0.3836 - val_loss: 1.4826 - val_accuracy: 0.3525
Epoch 2/10
96/96 [==============================] - 29s 298ms/step - loss: 99.1977 - accuracy: 0.3917 - val_loss: 1.4837 - val_accuracy: 0.3525
Epoch 3/10
96/96 [==============================] - 29s 297ms/step - loss: 83.3722 - accuracy: 0.3911 - val_loss: 1.4899 - val_accuracy: 0.3525
Epoch 4/10
96/96 [==============================] - 27s 281ms/step - loss: 3.8199 - accuracy: 0.3918 - val_loss: 1.4870 - val_accuracy: 0.3525
Epoch 5/10
96/96 [==============================] - 27s 282ms/step - loss: 1.4807 - accuracy: 0.3902 - val_loss: 1.4810 - val_accuracy: 0.3525
Epoch 6/10
96/96 [==============================] - 27s 286ms/step - loss: 2.4639 - accuracy: 0.3935 - val_loss: 1.4833 - val_accuracy: 0.3525
Epoch 7/10
96/96 [==============================] - 29s 302ms/step - loss: 1.4773 - accuracy: 0.3896 - val_loss: 1.4803 - val_accuracy: 0.3525
Epoch 8/10
96/96 [==============================] - 44s 463ms/step - loss: 1.4766 - accuracy: 0.3895 - val_loss: 1.4785 - val_accuracy: 0.3525
Epoch 9/10
96/96 [==============================] - 80s 838ms/step - loss: 1.4752 - accuracy: 0.3892 - val_loss: 1.4764 - val_accuracy: 0.3525
Epoch 10/10
96/96 [==============================] - 74s 771ms/step - loss: 1.4741 - accuracy: 0.3882 - val_loss: 1.4751 - val_accuracy: 0.3525

In [25]:
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'Validation'], loc='upper left')